.card{
    background-color:rgb(199, 199, 199);
    padding:1em 2em;
}

label{
    font-weight: bold;
}

input[type="text"]{
    width:90%;
}

.icon{
    width:1%;
    border:1px solid gray;
}

.button-group{
    margin-top:1em;
}
